body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #007BFF;
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

h1, h2 {
    margin: 0 0 1rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    padding: 8px;
    text-align: left;
}
