<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/WebMarket/style/main.css">
    <link rel="icon" href="/WebMarket/favicon.ico" type="image/x-icon">
</head>
</head>
<body>
    <main>
        <h2>Web Market Login</h2>
        <form action="/WebMarket/login" method="post">
            <input type="text" name="username" placeholder="Type your username"/><br />
            <input type="password" name="password" placeholder="Type your password" /><br />
            <button type="submit">Login</button>
        </form>
        <#if error??>
            <p style="color:red;">${error}</p>
        </#if>
    </main>
    <#include "partials/outline_footer.ftl.html">
</body>
</html>